#gradient{
    background: #69d2e7;
    background: -moz-linear-gradient(-45deg, #69d2e7 0%, #a7dbd8 25%, #e0e4cc 46%, #e0e4cc 54%, #f38630 75%, #fa6900 100%);
    background: -webkit-linear-gradient(-45deg, #69d2e7 0%,#a7dbd8 25%,#e0e4cc 46%,#e0e4cc 54%,#f38630 75%,#fa6900 100%);
    background: linear-gradient(135deg, #69d2e7 0%,#a7dbd8 25%,#e0e4cc 46%,#e0e4cc 54%,#f38630 75%,#fa6900 100%);
    min-height: 100vh;
}

/* .poster{
  border-radius: 20px;
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
  background-size: auto;
  height: 400px;
  width: 93%;
  margin: 0 25px;
} */

ul {
    list-style-type: none;
}

.sidebar {
  vertical-align: top;
  width: 25vw;
  padding: 5%;
  font-family: "Helvetica Neue",Helvetica,Arial;
}

.sidebar *{
  margin: 10px;
}

.card{
  height: 300px;
  width: 300px;
  box-shadow: 10px 10px 10px #999999;
  border-radius: 20px;
  margin: 10px;
  display: inline-block;
  text-align: center;
  transition: 0.5s all ease-in-out;
  background: #ffff;
}

.img{
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  opacity: 1;
  /* width: 100%;
  height: auto; */
}
.overlay{
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  opacity: 0;
  transition: .5s ease;
  background-color: #fff;
  /* z-index: -1; */
}

.overlay:hover {
opacity: 1;
  /* padding-top: 30px; */
  padding: 20px 30px;
  width: 240px;
  height: 253px;
}

li {
    float: left;
    padding: 25px;
  }

button {
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 50px;
    background: #1f75c4;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
  }

#search {
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  margin-left: 0;
  border: 2px solid orange;
}

table{
  align-items: center;
}

@media only screen and (max-width: 1050px) {
  .card .overlay{
    padding-left: 10%;
  }
}