<h2>User Feedback</h2>
<input type="text" id="searchUser" placeholder="Search User..." (input)="searchFeedbacks()" /><br><br>
<div class="feedback">
    <div class="user" *ngFor="let user of this.api.feedbacks">
        <!-- <ul class="card" style="list-style-type: none;">
            <li><span><b>Email: </b>{{ user.email }}</span></li>
            <li><span><b>Liked our website? </b>{{user.feedback.Liked}}</span></li>
            <li><span><b>Features: </b>{{user.feedback.Points}}</span></li>
            <li><span><b>Rating: </b>{{user.feedback.Ratings}}</span></li>
            <li><span><b>Comments: </b>{{user.feedback.Message}}</span></li>
            <li><span><b>Date & time: </b>{{user.feedback.DateTime}}</span></li>
            <hr>
        </ul> -->
        <table id="card" class="center" style="list-style-type: none;">
            <tr>
                <td><b>Email </b></td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td><b>Liked our website </b></td>
                <td>{{user.feedback.Liked}}</td>
            </tr>
            <tr>
                <td><b>Features </b></td>
                <td>{{user.feedback.Points}}</td>
            </tr>
            <tr>
                <td><b>Rating </b></td>
                <td>{{user.feedback.Ratings}}</td>
            </tr>
            <tr>
                <td><b>Comments </b></td>
                <td>{{user.feedback.Message}}</td>
            </tr>
            <tr>
                <td><b>Date & time </b></td>
                <td>{{user.feedback.DateTime}}</td>
            </tr>
        </table>
    </div>
</div>