h2, #btn{
    margin-left: 4%;
}

.card{
    box-shadow: 10px 10px 10px #999999;
    border-radius: 20px;
    margin: 20px;
    display: inline-block;
    text-align: center;
    transition: 0.5s all ease-in-out;
    background: #ffff;
    background-color: #fff;
    height: 400px;
    width: 450px;
    padding: 3%;
  }

.card:hover{
  border-radius: 20px;
  transform: scale(1.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
  z-index: 3;
} 

.card b{
    color: #035397;
}

.img{
    object-fit: cover;
  border-radius: 20px 20px 0 0;
  opacity: 1;
  width: 100%;
height: 250px;
}

#popup {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
  }

  .center{
    padding-top: calc(50vh - 200px);
    padding-left: calc(50vw - 200px);
}

.cardTop{
    list-style-type: none; 
    overflow: hidden;
}

.cardTop > li{
    display:inline-block;
}

#right{
    float:right;
}

#content{
    text-align: left;
}

button{
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 50px;
    background: #1f75c4;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

#search {
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    width: 200px;
    border: 2px solid orange;
  }

th, td {
    border-bottom: 1px solid;
    border-right: 1px solid;
    padding: 10px;
  }

  #products tr:nth-child(odd) {
    background-color: #D6EEEE;
  }

  #products tr:nth-child(even) {
    background-color: #ffff;
  }

  #products th{
      background-color: #035397;
      color: #fff;
  }

  table{
    border: 1px solid;
    margin-right: auto;
    margin-left: auto;
  }
