<div (click)="giveFeedback()">
    <img src="https://media.istockphoto.com/vectors/feedback-speech-bubble-icon-vector-design-vector-id1276662661?k=20&m=1276662661&s=612x612&w=0&h=d2re5X_dNTxZRBDGaqKR9mMuLZ2VcmtN1-ZrkylxX_Y=" alt="" class="feedback-img">
</div>
<div id="pop01" class="modal">
  
        <form class="modal-content animate pop1" method="post">
          <div class="imgcontainer">
            <h2>Did you like this webpage?</h2>
            <h3 style="color: rgba(0,0,0,0.6)">Help us improve your experience</h3>
            <span onclick="document.getElementById('pop01').style.display='none'" class="close" title="Close Modal">&times;</span>
          </div>
      
          <div class="container">
            
            <label class="container-radio">Yes
              <input type="radio" name="radio" (change)="pop1Sel('y')">
              <span class="checkmark"></span>
            </label>
            <label class="container-radio">No
              <input type="radio" name="radio" (change)="pop1Sel('n')">
              <span class="checkmark"></span>
            </label>
            <label class="container-radio">Not sure yet
              <input type="radio" name="radio" onchange="notsure()">
              <span class="checkmark"></span>
            </label>
        </div>
    </form>
</div>
<div id="pop02" class="modal">
    <form class="modal-content animate pop2" method="post">
        <div class="imgcontainer">
            <h2>Happy to hear that :)</h2>
            <h2>What did you like the most in this webpage?</h2>
            <h3 style="color: rgba(0,0,0,0.6)">Help us improve your experience</h3>
            <span onclick="document.getElementById('pop02').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <div class="container" id="pop-con">
            <label class="container-check" >
            <input type="checkbox" id="pop-chk-y0" value="Website design">Website design
            <span class="checkmark"></span>
            </label>
            <br>
            <label class="container-check" >
            <input type="checkbox" id="pop-chk-y1" value="User experience">User experience
            <span class="checkmark"></span>
            </label>
            <br>
            <label class="container-check">
            <input type="checkbox"  id="pop-chk-y2" value="Payment Gateway"> Payment Gateway
            <span class="checkmark"></span>
            </label>
            <br>
              
            <label class="container-check">
            <input type="checkbox"  id="pop-chk-y3" value="Features">Features
            <span class="checkmark"></span>
            </label>
            <br>
            <label class="container-check">
            <input type="checkbox"  id="pop-chk-y4" value="Security">Security
            <span class="checkmark"></span>
            </label>
    
            <div class="slidecontainer">
            <h3>Rate us:</h3>
            <input type="range" min="1" max="10" value="5" class="slider-range" id="rating-y">
            <h3> <span id="rating-value-y"></span></h3>
            </div>
        
            <div class="container" style="background-color:#f1f1f1">
                <button type="button" (click)="next('y')" class="cancelbtn-nxt">Next</button>
            </div>
        </div>
    </form>
</div>
<div id="pop04" class="modal">
    <form class="modal-content animate pop2" method="post">
        <div class="imgcontainer">
            <h2>Sorry to hear that :(</h2>
            <h2>What didn't you like in this webpage?</h2>
            <h3 style="color: rgba(0,0,0,0.6)">Help us improve your experience</h3>
            <span onclick="document.getElementById('pop04').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <div class="container" id="pop-con">
            <label class="container-check" >
            <input type="checkbox" id="pop-chk-n0" value="Bad Website design">Bad Website design
            <span class="checkmark"></span>
            </label>
            <br>
            <label class="container-check" >
            <input type="checkbox" id="pop-chk-n1" value="Worst User experience">Worst User experience
            <span class="checkmark"></span>
            </label>
            <br>
            <label class="container-check">
            <input type="checkbox"  id="pop-chk-n2" value="Payment Gateway Dint Work">Payment Gateway Dint Work
            <span class="checkmark"></span>
            </label>
            <br>
              
            <label class="container-check">
            <input type="checkbox"  id="pop-chk-n3" value="Experected Better Features">Experected Better Features
            <span class="checkmark"></span>
            </label>
            <br>
            <label class="container-check">
            <input type="checkbox"  id="pop-chk-n4" value="Poor Security">Poor Security
            <span class="checkmark"></span>
            </label>
    
            <div class="slidecontainer">
            <h3>Rate us:</h3>
            <input type="range" min="1" max="10" value="5" class="slider-range" id="rating-n">
            <h3>Rating: <span id="rating-value-n"></span></h3>
            </div>
        
            <div class="container" style="background-color:#f1f1f1">
                <button type="button" (click)="next('n')" class="cancelbtn-nxt">Next</button>
            </div>
        </div>
    </form>
</div>
<div id="pop03" class="modal">
    <form class="modal-content animate pop3" method="post">
      <div class="imgcontainer">
        <h2>What feedback would you like to share?</h2>
        <h3 style="color: rgba(0,0,0,0.6)">Help us improve your experience</h3>
        <span onclick="document.getElementById('pop03').style.display='none'" class="close" title="Close Modal">&times;</span>
      </div>
      <div class="container feedtxt">
        <textarea name="feedback-msg" id="feedback-msg" cols="64" rows="5" placeholder="Tell us your feedback..."></textarea>
      </div>
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" (click)="submit()" class="cancelbtn-nxt">Submit</button>
      </div>
    </form>
  </div>
