<div (click)="giveFeedback()">
    <img src="https://cdn-icons-png.flaticon.com/512/1260/1260185.png" alt="" class="feedbackImg">
</div>
<div id="pop01" class="modal">
  
        <form class="modal-content animate pop1" method="post">
          <div class="imgcontainer">
            <h2 class="orange">We would love your Feedback!</h2>
            <h3 style="color: rgba(29, 29, 29, 0.6)">Did you like our website?</h3>
            <span (click)="close()" class="close" title="Close Modal">&times;</span>
          </div>
      
          <div class="container">
            
            <label class="container-radio">Yes
              <input type="radio" name="radio" (change)="pop1Sel('y')">
              <span class="checkmark"></span>
            </label>
            <label class="container-radio">No
              <input type="radio" name="radio" (change)="pop1Sel('n')">
              <span class="checkmark"></span>
            </label>
            <label class="container-radio">Not sure yet
              <input type="radio" name="radio" onchange="notsure()">
              <span class="checkmark"></span>
            </label>
        </div>
    </form>
</div>
<div id="pop02" class="modal">
    <form class="modal-content animate pop2" method="post">
        <div class="imgcontainer">
            <h2 class="orange">Happy to hear that :)</h2>
            <h2 class="orange">What did you like the most in this webpage?</h2>
            <!-- <h3 style="color: rgba(29, 29, 29, 0.6)">Help us improve your experience</h3> -->
            <span onclick="document.getElementById('pop02').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <div class="container" id="pop-con">
            <label class="container-check" >
            <input type="checkbox" id="pop-chk-y0" value="Website Design">Website Design
            <span class="checkmark"></span>
            </label>
            <br>
            <label class="container-check" >
            <input type="checkbox" id="pop-chk-y1" value="User Experience">User Experience
            <span class="checkmark"></span>
            </label>
            <br>
            <label class="container-check">
            <input type="checkbox"  id="pop-chk-y2" value="Animation Effects">Animation Effects
            <span class="checkmark"></span>
            </label>
            <br>
              
            <label class="container-check">
            <input type="checkbox"  id="pop-chk-y3" value="Features">Features
            <span class="checkmark"></span>
            </label>
            <br>
            <label class="container-check">
            <input type="checkbox"  id="pop-chk-y4" value="Ease of use">Ease of use
            <span class="checkmark"></span>
            </label>
    
            <div class="slidecontainer">
              <!-- <h3>Rate us:</h3> -->
              <h3>Rating : <span id="rating-value-y">{{ rating }}</span></h3>
              <input type="range" min="1" max="10" value="5" class="slider-range" id="rating-y" (input)="changeRating()">
            </div>
        
            <div class="container">
                <button type="button" (click)="next('y')" class="cancelbtn-nxt">Next</button>
            </div>
        </div>
    </form>
</div>
<div id="pop04" class="modal">
    <form class="modal-content animate pop2" method="post">
        <div class="imgcontainer">
            <h2 class="orange">Sorry to hear that :(</h2>
            <h2 class="orange">What didn't you like in this webpage?</h2>
            <!-- <h3 style="color: rgba(0,0,0,0.6)">Help us improve your experience</h3> -->
            <span onclick="document.getElementById('pop04').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <div class="container" id="pop-con">
            <label class="container-check" >
            <input type="checkbox" id="pop-chk-n0" value="Bad Website Design">Bad Website Design
            <span class="checkmark"></span>
            </label>
            <br>
            <label class="container-check" >
            <input type="checkbox" id="pop-chk-n1" value="Worst User Experience">Bad User Experience
            <span class="checkmark"></span>
            </label>
            <br>
            <label class="container-check">
            <input type="checkbox"  id="pop-chk-n2" value="Item not found">Couldn't Find Desired Item
            <span class="checkmark"></span>
            </label>
            <br>
              
            <label class="container-check">
            <input type="checkbox"  id="pop-chk-n3" value="Experected Better Features">Expected Better Features
            <span class="checkmark"></span>
            </label>
            <br>
            <label class="container-check">
            <input type="checkbox"  id="pop-chk-n4" value="Payment Gateway Dint Work">Payment Gateway Dint Work
            <span class="checkmark"></span>
            </label>
    
            <div class="slidecontainer">
            <!-- <h3>Rate us:</h3> -->
            <!-- <h3>Rating : <span id="rating-value-y">{{ rating }}</span></h3> -->
            <h3>Rating: <span id="rating-y">{{ rating2 }}</span></h3>
            <input type="range" min="1" max="10" value="5" class="slider-range" id="rating-n" (input)="changeRating2()">
            </div>
        
            <div class="container">
                <button type="button" (click)="next('n')" class="cancelbtn-nxt">Next</button>
            </div>
        </div>
    </form>
</div>
<div id="pop03" class="modal">
    <form class="modal-content animate pop3" method="post">
      <div class="imgcontainer">
        <br>
        <!-- <h3 style="color: rgba(0,0,0,0.6)">Help us improve your experience</h3> -->
        <h2 class="orange">What could we have done to make your experience better?</h2>
        <span onclick="document.getElementById('pop03').style.display='none'" class="close" title="Close Modal">&times;</span>
      </div>
      <div class="container feedtxt">
        <h3>Name : </h3><textarea name="name" id="name" cols="64" rows="1" placeholder="Enter your Name"></textarea>
        <br>
        <h3>Comments :</h3><textarea name="feedback-msg" id="feedback-msg" cols="64" rows="5" placeholder="Tell us your feedback"></textarea>
      </div>
      <div class="container">
        <button type="button" (click)="submit()" class="cancelbtn-nxt">Submit</button>
      </div>
    </form>
  </div>
